
.register-container .register-form{
    width: 400px;
    height: 100vh;
    background: #ffffff;
    padding: 20px
}
.register-form .title{
    text-align: center;
    font-size: 39px;
    color: #757575;
    font-family: sans-serif;
    padding-top: 20px;
    padding-bottom: 20px;
}
.register-form .input-wrapper{
    margin-bottom: 10px;
}
.name-wrapper .input-wrapper input{
    width: 96%;
}
.register-form .name-wrapper{
    display: flex;
    justify-content: space-between;
}
.register-form .submit-wrapper{
    display:flex;
    justify-content: space-between;
    margin-top: 15px;
}

