.chat-container {
  font-family: sans-serif;
  height: calc(100vh - 64px);
  display: flex;
}

.chat-container .main {
  height: 100%;
  flex-grow: 1;
}
.chat-container .main .conversation-title {
  color: #333;
  text-align: center;
  height: 64px;
  font-size: 24px;
  line-height: 64px;
  border-bottom: 1px solid #dbdbdb;
}
.chat-container .conversation-detail {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.chat-container .conversation-detail .list-message {
  flex-grow: 1;
}
#sendMessageForm {
  height: 64px;
  line-height: 64px;
  border-top: 1px solid#dbdbdb;
  display: flex;
}
#sendMessageForm input {
  border: none;
  flex-grow: 1;
  padding-left: 20px;
  outline: 0;
}
#sendMessageForm button {
  background: none;
  color: #3a7fcf;
  font-size: 24px;
  border: none;
}
.chat-container .list-message {
  padding: 10px;
  overflow-y: auto;
}
.chat-container .list-message .content {
  max-width: 40%;
  word-break: break-word;
  border-radius: 10px;
  padding: 10px;
  width: max-content;
}
.chat-container .message.their .content {
  background: #dbdbdb;
}
.chat-container .message.mine .content {
  background: #3a7fcf;
  color: #ffffff;
}
.chat-container .message.mine {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}
.chat-container .aside-left {
  border-right: 1px solid #dbdbdb;
  font-size: 14px;
  width: 15%;
  overflow-y: auto;
}
.chat-container .aside-left .new-conversation {
  height: 64px;
  border-bottom: 1px solid#dbdbdb;
  line-height: 64px;
  text-align: center;
}
.chat-container .conversation {
  padding: 10px;
  position: relative;
}

.chat-container .conversation.current {
  background: #dbdbdb;
}
.chat-container .aside-right {
  border-left: 1px solid #dbdbdb;
  width: 15%;
  overflow-y: auto;
  padding: 10px;
}
.aside-right .list-users,
.aside-right .input-wrapper {
  margin-bottom: 10px;
}

.chat-container .aside-right .list-users div {
  overflow: hidden;
  text-overflow: ellipsis;
}
.conversation-notify {
  width: 15px;
  height: 15px;
  background: #3a7fcf;
  border-radius: 50%;
  position: absolute;
  top: 30%;
  right: 5%;
  display: none;
}

@media screen and (max-width: 768px) {
  .chat-container .aside-right {
    display: none;
  }
  .chat-container .aside-left .conversation-num-users {
    display: none;
  }
  .chat-container .aside-left .conversation {
    height: 64px;
    width: 64px;
    border-radius: 50%;
    padding: 0;
    text-align: center;
    text-transform: uppercase;
    border: 1px solid #dbdbdb;
    margin-bottom: 10px;
  }
  .chat-container .aside-left {
    width: 70px;
  }
  .chat-container .aside-left .conversation-notify {
    top: 38%;
    right: 10%;
  }
}
