*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.input-wrapper input{
    width: 100%;
    padding: 10px 13px;
    border-radius: 5px;
    border: 1px solid #dbdbdb;
}
.cursor-pointer{
    cursor: pointer;
}
.btn{
    padding: 7px 18px;
    color:white;
    background-color: #007bff;
    border-width: 1px;
    border-radius: 3px;
    
}
.error{
    color:red
}